button {
    background: rgb(153, 131, 7);
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: rgb(185, 159, 10);
}

button:active {
    opacity: 0.7;
}

textarea {
    font-family: 'Lucida Sans';
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    height: 400px;
}


